section.manufacturers
	.container
		.section-header
			h2.section-header__title Популярные производители:
			+btn("#", "Все производители")(class="btn btn--section-header")
		.manufacturers__items
			a.manufacturers__item(href="#")
				img.manufacturers__item-img(src="../img/manufacturers/bosch.jpg" alt="manufacturer")
			a.manufacturers__item(href="#")
				img.manufacturers__item-img(src="../img/manufacturers/makita.jpg" alt="manufacturer")
			a.manufacturers__item(href="#")
				img.manufacturers__item-img(src="../img/manufacturers/dewalt.jpg" alt="manufacturer")
			a.manufacturers__item(href="#")
				img.manufacturers__item-img(src="../img/manufacturers/interskol.jpg" alt="manufacturer")
			a.manufacturers__item(href="#")
				img.manufacturers__item-img(src="../img/manufacturers/hitachi.jpg" alt="manufacturer")
			a.manufacturers__item(href="#")
				img.manufacturers__item-img(src="../img/manufacturers/lg.jpg" alt="manufacturer")
			a.manufacturers__item(href="#")
				img.manufacturers__item-img(src="../img/manufacturers/aeg.jpg" alt="manufacturer")
			a.manufacturers__item(href="#")
				img.manufacturers__item-img(src="../img/manufacturers/metabo.jpg" alt="manufacturer")