.breadcrumbs
	.container
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__link(href="/" aria-label="home-page")
					i.icon.icon-home
			li.breadcrumbs__item
				a.breadcrumbs__link(href="catalog.html") Каталог
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#") Инструмент
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#") Перфораторы