.pagination
	ul.pagination__pages
		li.pagination__page
			a.pagination__page-link.pagination__page-link--active(href="#") 1
		li.pagination__page
			a.pagination__page-link(href="#") 2
		li.pagination__page
			a.pagination__page-link(href="#") 3
		li.pagination__page
			a.pagination__page-link.pagination__page-link--next(href="#") Следующая