footer.footer
	.footer__top
		.container
			.footer__info.footer__info--top
				a.logo.logo--footer(href="/")
					span.logo__content Техномарт
				.main-menu.main-menu--footer
					ul.main-menu__list
						li.main-menu__item
							a.main-menu__link.main-menu__link--footer(href="#") Компания
						li.main-menu__item
							a.main-menu__link.main-menu__link--footer(href="#") Новости
						li.main-menu__item
							a.main-menu__link.main-menu__link--footer(href="#") Каталог
						li.main-menu__item
							a.main-menu__link.main-menu__link--footer(href="#") Доставка
						li.main-menu__item
							a.main-menu__link.main-menu__link--footer(href="#") Контакты
			.footer__info
				address.footer__address г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
					br
					| +7 (812) 555-05-55
				.main-menu.main-menu--footer
					ul.main-menu__list
						li.main-menu__item
							a.main-menu__link.main-menu__link--footer.main-menu__link--footer-bottom(href="#") Материалы
						li.main-menu__item
							a.main-menu__link.main-menu__link--footer.main-menu__link--footer-bottom(href="#") Техника
						li.main-menu__item
							a.main-menu__link.main-menu__link--footer.main-menu__link--footer-bottom(href="#") Инструмент
						li.main-menu__item
							a.main-menu__link.main-menu__link--footer.main-menu__link--footer-bottom(href="#") Спецпредложения
	.footer__bottom
		.container
			.footer__copyright © 2010–2017 Компания «Техномарт»
				br
				| Все права защищены
			.footer__social
				a.footer__social-icon.icon.icon-vk(href="#" aria-label="vk-social")
				a.footer__social-icon.icon.icon-fb(href="#" aria-label="facebook-social")
				a.footer__social-icon.icon.icon-insta(href="#" aria-label="instagram-social")
			.footer__contacts
				.footer__contact Обратная связь:
					br
					a.footer__contact-link(href="mailto:mail@htmlacademy.ru") mail@htmlacademy.ru
				.footer__contact Обратная связь:
					br
					a.footer__contact-link(href="//htmlacademy.ru") htmlacademy.ru