body {
    font-family: "Cuprum", sans-serif;
    line-height: 24px;
}

h1, h2, h3, h4, h5, h6, ul, p, button, input {
    margin: 0;
    padding: 0;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.visually-hidden {
    visibility: hidden;
}